

body{
background-color: gray;
background-image: none;
}

table{
  border-color: white;
  margin-top: 100px;
  text-align: center;
  width: 100%;
  height: 100px;
}

#pontos{
  width: 100%;
  height: 100px;
  border-radius: 0px;
}

a{
    text-decoration: none;
  color:white;
font-size: 150%;
}

#eventos{
    width: 100%;
  height: 100px;
  border-radius: 0px;
  color:white;

}
#adicionar{
    width: 100%;
  height: 100px;
  border-radius: 0px;
  color:white;

}

body{
  text-align: center;
}

img{
  border-radius: 10px;
}

p{
  margin-top: 20px;
    font-family:cursive;

}

button{
  border-radius: 10px;
  background-color: white;
  margin-bottom: 5px;
  font-family:cursive;
  
}

.confirm{
  margin-top: 50px;
  background-color: green;
  border-color: white;
  color: white;
}

.compart{
    background-color: blue;
  border-color: white;
  color: white;

}

h1{
  margin-top: 10px; 
  font-family: fantasy;
}

.jumbotron{
  color: black;
  font-size: 200%;
  background-color: rgb(55, 119, 148);
}