body{
  background-image: url(../imagem/ceu.jpg);
  background-size: 1550px;
  background-repeat: no-repeat;
  text-align: center;
}
img{
  margin-top: 35px;
  height:120px;
  width:150px;
}
table{
  border-color: white;
  margin-top: 100px;
  text-align: center;
  width: 100%;
  height: 100px;
}

#pontos{
  width: 100%;
  height: 100px;
  border-radius: 0px;
}

a{
    text-decoration: none;
  color:white;
font-size: 150%;
}

#eventos{
    width: 100%;
  height: 100px;
  border-radius: 0px;
  color:white;

}
#adicionar{
    width: 100%;
  height: 100px;
  border-radius: 0px;
  color:white;

}

body{
  text-align: center;
}

img{
  border-radius: 10px;
}

p{
  margin-top: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 10px;

}

button{
  border-radius: 10px;
  background-color: white;
  margin-bottom: 5px;
  font-family:cursive;
  
}

.confirm{
  margin-top: 50px;
  background-color: green;
  border-color: white;
  color: white;
}

.compart{
    background-color: blue;
  border-color: white;
  color: white;

}

h1{
  margin-top: 10px; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 22px;  
}

.jumbotron{
  width: 100%;
  height: 200px;
  color: black;
  background-color: rgba(252, 252, 252, 0.705);
}