/* This is a CSS file */
/**/
body{
  background-image: url(../imagem/ceu.jpg);
}
.navbar {
  position: fixed; 
  bottom: 0; 
  width: 100%;
  background-color: transparent;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
}
#adicionar{
  background-color: green;
  border-radius: 15px;
  margin-left: 3px;
}
#eventos{
  background-color: red;
  border-radius: 15px;
}
#pontos{
  background-color: blue;
  border-radius: 15px;
  margin-left: 3px;
}
.bar-block .bar-item
{
  width:100%;
  display:block;
  padding:8px 16px;
  text-align:justify;
  border:none;
  white-space:normal;
  float:none;
  outline:0;
  background-color: ;
  font-size: 20px;
  color: white;
  font-family: 'Aaargh';
}
.sidebar{
  height:100%;
  width:250px;
  background-color:rgba(195, 0, 255, 0.555);
  position:fixed!important;
  z-index:1;
  overflow:auto;
  border-radius: 0px 30px 30px 0px;
}
  #ham{
  display:block;
  padding:8px 16px;
  text-align:justify;
  float: left;
  background: transparent;
  color: black;
  font-size: 30px;
  border: none;  
  height: 30px;
}

.form-control{
  width: 100%;
  height: 50px;
  border-radius: 40px;
  background-image: white;
  border-color: white;
}


.img{
  width: 70px;
  height: 40px;
  margin-top: -20px;
  margin-left: 30px;
}
.jumbotron{
  margin-top: 0px;
    width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.788);
}
.info{
  margin-left: 50px;

}

h1{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  color: #005e86;
  margin-top: -15px;
}

p{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  color: black;
  margin-left: 30px;
  margin-top: 50px;
}
.bar{
  background: rgba(0, 128, 0, 0.836);
  border-radius: 0px 0px 120px 0px;
  height: 45px;
  margin-bottom: 10%;
  width: 30%;
}
button{
  color: white;
  border-style: none;
  font-size: 18px;
  margin-top: 1%;
  border-radius: 20px;
  width: 80%;
  margin-left: 10%;
}
#voltar{
  width:20%;
  display:block;
  padding:8px 16px;
  text-align:justify;
  border:none;
  white-space:normal;
  float:none;
  outline:0;
  background-color:transparent;
  color: white;
  font-family: 'Aaargh';
}


