/**/
body{
  background-image: url(../imagem/fundo1.png);
  background-position-x: center;
}
.navbar {
  position: fixed; 
  bottom: 0; 
  width: 100%;
  background-color: transparent;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
}
#adicionar{
  background-color: green;
  border-radius: 15px;
  margin-left: 3px;
}
#eventos{
  background-color: red;
  border-radius: 15px;
}
#pontos{
  background-color: blue;
  border-radius: 15px;
  margin-left: 3px;
}
.bar-block .bar-item
{
  width:100%;
  display:block;
  padding:8px 16px;
  text-align:justify;
  border:none;
  white-space:normal;
  float:none;
  outline:0;
  background-color: ;
  font-size: 20px;
  color: white;
  font-family: 'Aaargh';
}
.sidebar{
  height:100%;
  width:250px;
  background-color:rgba(195, 0, 255, 0.555);
  position:fixed!important;
  z-index:1;
  overflow:auto;
  border-radius: 0px 30px 30px 0px;
}
  #ham{
  display:block;
  padding:8px 16px;
  text-align:justify;
  float: left;
  background: transparent;
  color: black;
  font-size: 30px;
  border: none;  
  height: 30px;
}

.form-control{
  width: 100%;
  height: 50px;
  border-radius: 40px;
  background-color: transparent;
  border-color: white;
  color: white;
}

.a{
  margin-top: 20px;
}

.b{
  margin-top: 10px;
}

.btn{
  margin-top: 20px;
  width: 100%;
  background-color: darkcyan;
  border-radius: 20px;
  border-color: white;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
}

img{
  margin-top: 20px;
margin-left: 60px;
width: 200px;
height: 100%; 
}

h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  color: white;
}
p{
  color: rgb(223, 223, 223);
  text-align: center;
  font-size: 16px;
}
a{
  color: white;
}